
html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.5;
}

a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #333333 !important;
}

.text-primary {
  color: #2d71a1 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

section {
  overflow: hidden;
}

.section {
  padding: 2rem 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: #333333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2d71a1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Default btn styling */
.btn {
  border: none;
  padding: 15px 30px !important;
  background: #3498db;
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(47, 47, 47, 0.15);
}

.btn:hover {
  background: #34495e;
  color: #fff;
}


/* Feature 1 */
.feature-1 .wrap-icon {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feature-1 .wrap-icon.icon-1 {
  background: linear-gradient(-45deg, #3b87bd, #2d71a2);
}

.feature-1 .wrap-icon i {
  font-size: 40px;
  line-height: 0;
  color: #fff;
}

.feature-1 h3 {
  font-size: 20px;
}

.feature-1 p {
  color: #b1b1b1;
}

/* Step */
.step {
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 40px;
}

.step .number {
  background: #2C3E50;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
  display: block;
}

.step p:last-child {
  margin-bottom: 0px;
}

/* Our Team Cards */
.card {
  display:inline-block;
  border: none;
  padding: 0px;
}
.testing{
  justify-content: space-between;
}

.card-body{
  padding: 16px 0px;
}

@media screen and (max-width: 768px) {
  .testing{
    justify-content: center;
  }
}


/* Review */
.review h3 {
  font-size: 20px;
}

.review p {
  line-height: 1.8;
  font-style: italic;
  color: #333333;
}

.review .stars span {
  color: #FF8803;
}

.review .stars .muted {
  color: #ccc;
}

.review .review-user img {
  width: 70px;
  margin: 0 auto;
}

/* Testimonial Carousel */
.testimonials-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2C3E50;
}

.testimonials-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2C3E50;
}
/* CTA Section */
.cta-section {
  background: #2C3E50;
  color: #fff;
}

.cta-section h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .cta-section h2 {
    font-size: 2rem;
  }
}

.cta-section .btn, .cta-hero {
  background: #000000;
  color: #fff;
}

.cta-section .btn i {
  margin-right: 5px;
  font-size: 24px;
  line-height: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 60px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 255);
  border-bottom: .5px solid #000000;
}

.logo{
  display: inline-flex;
  align-items:center !important;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  font-size: 25px !important;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
#navbarTogglerDemo02 {
  padding: 0;
}

#navbarTogglerDemo02 ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

#navbarTogglerDemo02 li {
  position: relative;
}



.nav-link,
.nav-link:focus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0 10px 30px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  transition: 0.3s;
}

#navbarTogglerDemo02 a i,
#navbarTogglerDemo02 a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.nav-link:hover{
  color: #000000;
  text-decoration: underline;
}

.navbar .btn{
  padding: 10.5px 24px  !important;
  margin-left: 16px !important;
}

@media (max-width: 991px) {
  .navbar-nav{
    align-items: start;
  }

  a,
  a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #101c36;
  }

  a:hover,
  .active,
  li:hover>a {
    color: #2d71a1;
  }
  #navbarTogglerDemo02{
    margin-bottom: 30px;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
   /* background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%),url(../img/hero-bg.jpg);  */
   background-color: #1F2E3D;
  position: relative;

}

.hero-text{
  color: #ffffff !important;
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -90px;

}
.hero-section .container img{
  width: 100%;
  
}

@media screen and (max-width: 992px) {
  .hero-section .wave {
    bottom: -180px;
  }
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section>.container>.row {
  height: auto;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 70vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}

@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section .hero-text-image {
    margin-top: 4rem;
  }
}

.hero-section p {
  font-size: 18px;
  color: #ffffff;
}

.hero-section .iphone-wrap {
  position: relative;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
@media screen and (max-width: 992px) {

  .hero-section .iphone-wrap .phone-2,
  .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: -150px;
  }
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 5rem 0 2.5rem 0;
  display: flex;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #000;
}

.footer .copyright {
  margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

.footerLinks{
  display: flex;
  justify-content: center;
}
.footerLinks li a{
  padding: 16px;
}

.social{
  justify-content: center;
  display: flex;
}


.social a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #2C3E50;
  line-height: 0;
  margin: 8px;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #fff;
  background: #3498db;
}

.social a i {
  line-height: 0;
}